body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #444;
  text-align: center;
}

.center
{
    margin: 0 auto;
}
.inline
{
    display: inline;
    
}
.inline img{
    display: inline;
    height: 100px;
    width:100px;
    
}
.inline ul{
display: inline;
}